h1 Welcome from Working Title!
p #{@invite.sender.name} has invited you to join their writing group #{@invite.group.name} at #{@url}. Click the link to sign in with google and get to writing.
p In case you don't know, Working Title is the best place for a writing group to live, putting everything that you need in one loctation. You will be able to blah blah blah.
  
