p Just so you know, #{@submission.membership.user.name} has made a submission to #{@submission.membership.group.name}!
p Be sure to check it out and critique #{@submission.membership.user.name}'s submission at #{@url}'.
