| You have been invited to #{@invite.group.name} by #{@invite.sender.name}

= link_to "Click to login with google to accept this invitation", auth_path(provider: :google, workingtitle_invite_token: @invite.token)
