.author-container {
  align-items: center;

  img {
    border: 0.2px solid #BBBBBB;
  }

  .name-and-picture {
    color: #BBBBBB;
  }

  .jumbotron {
    background-color: $accent-color;

    .list-group-item {
      background-color: $background-color;
    }

  }
  .btn {
    background-color: $light-accent;
  }

  .author-btn {
    margin: 1.5em;
  }

  .back-to-group{
    background-color: $light-accent;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}
