.landing-navbar {
  background-color: $primary-color;

  a {
    color: #212121;
  }
}

body {
  color: #212121;
  background-image: url(pexels-photo-269810.jpeg);
  background-size: cover;
  font-family: 'Cutive Mono', monospace;
  background-color: $background-color;
}
