.landing-navbar {
  background-image: url(notebook.jpg);
  background-size: cover;

  a {
    color: #212121;
  }
}

body {
  color: #212121;
  font-family: 'Cutive Mono', monospace;
  background-color: $background-color;
  background-image: url(cover.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .jumbotron {
    background-image: url(notebook.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}
