.profile-header {

  h1 {
    color: #BBBBBB;
    font-size: 400%;
   }
}

.profile-jumbotron {
  background-color: $accent-color;

  .group-list {
    list-style: none;

    a {
      font-size: 150%;
      color: #212121;
    }
  }
}

.btn-profile {
  background-color: $light-accent
}

.notifications {
  background-color: $accent-color;

  .title-profile {
    font-size: 200%;
  }

  .list-group-item {
    background-color: $background-color
  }
}
