.page-header {
  color: #BBBBBB;
}

.sub-show {
  font-family: 'Space Mono', monospace;

  .title {
    font-size: 130%;
  }

  .well {
    background: image-url("notebook.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    dd {
      margin-bottom: .5em;
    }
  }
}

.sub-show-btn {
  background-color: $light-accent;
  color: #212121;
  border: none;

}

.comment-well {
  background-color: $accent_color;
  opacity: 0.8;
}
