.page-header {
  color: #BBBBBB;
}

.sub-show {
  font-family: 'Space Mono', monospace;

  .title {
    font-size: 130%;
  }

  .well {
    background: image-url("notebook.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-right: 6em;

    dd {
      margin-bottom: .5em;
    }
  }
}

.sub-show-btn {
  background-color: $light-accent;
  color: #212121;
  border: none;

}

.comment-well {
  background-color: $background-color;
}

@media only screen and (max-width: 600px) {
  .sub-show {
    .well {
      padding-right: 0;
    }
  }
}
