.submission-form .form-group {
  font-family: 'Space Mono', monospace;
}

.trix-form {
  background-color: white;
}

.sub-form-well {
  background-color: $accent_color;
}

.control-label {
  font-size: 130%;
}
